<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=5.0">
        <link rel="stylesheet" href="styles.css">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="container">
            <h2>Welcome, Volunteer!!</h2>
            <ul>
                <li><a href="profile.html">User Profile</a></li>
                <li><a href="event_information.html">Upcoming Event</a></li>
                <li><a href="volunteer_matching.html">Check matching result </a></li>
                <li><a href="notifications.html">Notifications</a></li>
                <li><a href="volunteer_history.html">Volunteer History</a></li>
            </ul>

       
        <div>
    </body>
    </html>
